 Том в устройстве C не имеет метки.
 Серийный номер тома: 80F1-3889

 Содержимое папки C:\Users\User\git_exp

10.07.2019  19:50    <DIR>          .
10.07.2019  19:50    <DIR>          ..
10.07.2019  19:50                 0 .gitignore
10.07.2019  19:46               380 for_branch.txt
10.07.2019  19:26               339 test.txt
               3 файлов            719 байт
               2 папок   2 312 183 808 байт свободно
